{% extends "layout.html" %}

{% block title %}Gen1Py: Editing{% endblock %}

{% block content %}
<form action="" method="post" autocomplete="off">
    <input type="text" name="playername" placeholder="{{ playername }}" pattern="/[A-Za-z]{1,10}/">
    <input type="text" name="money" placeholder="{{ money }}" pattern="/\d{0,6}/">
    <input type="text" name="playerid" placeholder="{{ playerid }}" pattern="/\d{0,5}/">
    <input type="text" name="firstpokename" placeholder="{{ firstpokename }}" pattern="/[A-Za-z]{1,10}/">
</form>
{% endblock %}