{% extends "layout.html" %}

{% block title %}Gen1Py: Editing{% endblock %}

{% block content %}
<h1 class="fileinfo">Editing file: {{ savefile }}</h1>
<hr>
<form action="/download" method="post" autocomplete="off" class="row g-3 container center">

    <input type="hidden" value="{{ savefile }}" name="filepath"> 
    {% for each in data %}
    <div class="col-md-6">
        <label for="{{ each }}" class="form-label">{{ data_names[each] }}: {{ data[each] }}
          <br>
          <b>{{ data_tips[each] }}</b>
        </label>
        <input class="form-control" type="text" name="{{ each }}" placeholder="New value: ">
    </div>
    {% endfor %}

    <div class="col-md-12">

    <p>Badges: 
      <br>
      <b>{{ data_tips["badges"] }}</b>
    </p>
    {% for badge in badges %}
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="badges" value="{{ badge }}" id="flexCheckDefault" {% if badge in badges_owned %} {{ "checked" }} {% endif%}>
        <label class="form-check-label" for="flexCheckDefault">
          {{ badge }}Badge
        </label>
      </div>
      {% endfor %}
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="badges" value="BADGE_PLACEHOLDER" id="flexCheckDefault" hidden checked>
        <label class="form-check-label" for="flexCheckDefault">
        </label>
      </div>
    </div>
    <button type="submit">Submit</button>
</form>
<br>
<a href="/" class="btn btn-secondary">Go Back (Abort Edit)</a>
{% endblock %}