{% extends "layout.html" %}

{% block title %}Gen1Py: Upload File{% endblock %}

{% block content %}
<div class="container ">
<h1 class="header">
    <span style="color: rgb(100, 135, 167);">Gen</span><span style="color: rgb(205, 50, 75);">1</span><span style="color: rgb(98, 152, 99);">Py</span>
    <br>
    <span class="headerinfo">Pokémon Gen 1 Save Editor</span>
</h1>
<hr>

<h2>
    Upload your file
</h2>

<form action="/upload" method="post" enctype = "multipart/form-data">
    <div class="input-group">
        <input type="file" accept=".sav" class="form-control" name="savefile" aria-label="Upload">
        <button class="btn btn-outline-secondary" type="submit" for="savefile">Upload</button>
      </div>
</form>
</div>
{% endblock %}