{% extends "layout.html" %}

{% block title %}Gen1Py: Upload File{% endblock %}

{% block content %}
<div class="container ">
<h1 class="header">
    <span style="color: rgb(100, 135, 167);">Gen</span><span style="color: rgb(205, 50, 75);">1</span><span style="color: rgb(98, 152, 99);">Py</span>
    <br>
    <hr>
    <span class="headerinfo">Pokémon Gen 1 Save Editor</span>
</h1>

<h2>
    Upload your file
</h2>

<form action="/upload" method="post" enctype = "multipart/form-data">
    <div class="input-group">
        <input type="file" accept=".sav" class="form-control" name="savefile" aria-label="Upload">
        <button class="btn btn-outline-secondary" type="submit" for="savefile">Upload</button>
      </div>
</form>

<br>
<hr>
<br>
<br>

<h3>
    Disclaimer:
</h2>

<p>
    This is an experimental an very dangerous tool. The developers <br>
    take no responsibility for any corrupted or lost data. <br>
    Due to the experimental nature of the program, make sure you <br>
    follow the instructions and have a backup of your save file. <br>
    Any deviation from them might cause the <br>
    program to crash or to corrupt the save file. <br>
    <br>
    Again for the especially thick: <b>This thing can mess your save file <br>
    real good, no joke.</b>
</p>
</div>
{% endblock %}